*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* font-size: 10px; */
	font-size: 62.5%;
	overflow-x: hidden;
	/* Does NOT work on Safari */
	scroll-behavior: smooth;
}

body {
	/* padding-top: 3rem; */
	font-family: "IBM Plex Sans", sans-serif;
	line-height: 1;
	font-weight: 400;
	color: #444;

	/* Only works if there is nothing absolutely positioned in relation to body */
	overflow-x: hidden;
}

/************************************/
/* GENERAL REUSABLE COMPONENTS */
/************************************/

ion-icon {
	pointer-events: none;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 1.5rem;

}

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}  

.hidden {
	display: none !important;
}

