@media screen and (max-width: 940px) {
	.btn-mobile-nav {
		display: block;
		z-index: 2000;
	}

	.main-nav {
		padding: 18rem 6rem;
		position: fixed;
		inset: 0 0 0 41%;
		background-color: #fff;
		z-index: 1000;
		display: flex;
		justify-content: flex-start;
		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
		opacity: 0;
		pointer-events: none;
		transform: translateX(100%);
		visibility: hidden;
		transition: all 0.3s linear;
	}

	.main-nav-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.nav-open .main-nav {
		opacity: 1;
		pointer-events: auto;
		visibility: visible;
		transform: translateX(0);
	}

	.nav-open .icon-mobile-nav[name="close-sharp"] {
		display: block;
	}

	.nav-open .icon-mobile-nav[name="menu-sharp"] {
		display: none;
	}

	.main-nav-link:link {
		font-size: 2rem;
	}
}

@media screen and (max-width: 600px) {
	.collage {
		margin-top: 10rem;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 15rem);
		gap: 1rem;
	}

	.gallery-imgs {
		display: flex;
		flex-direction: column;
	}

	.gallery-col {
		width: 100%;
	}

	.newsletter {
		width: 90%;
	}

	.newsletter-content {
		width: 100%;
	}

	.newsletter-title {
		font-size: 2.5rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	.newsletter-text {
		font-size: 2rem;
		font-style: italic;
	}

	.newsletter-input-form {
		width: 80%;
	}

	.newsletter-input-form input {
		padding: 1rem 3rem;
		flex: 1;
		font-size: 2rem;
		border: 1.3px solid #ddd;
		outline: none;
	}

	.newsletter-input-form input::placeholder {
		font-size: 2rem;
		color: #999;
	}
	.newsletter-input-form button {
		padding: 0 2rem;
		width: 15rem;
		font-size: 2rem;
		background: #000;
		color: #fff;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.footer {
		grid-template-columns: repeat(6, 1fr);
	}

	.logo-col,
	.address-col {
		grid-column: span 3;
	}

	.nav-col {
		grid-row: 1;
		grid-column: span 2;
	}
}
